@import url("../../fonts/fonts.scss");

header {
  p{
    font-family: "SuperMarioWorld";
    font-size: 16px;
    font-weight: bold;
    &.points-label{
      color: #E92313;
    }
    &.points-text{
      color: #000;
    }
  }
}