* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.App {
  text-align: center;
  padding: 24px;
  .container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    justify-content: center;
    row-gap: 50px;
    .container-item {
      width: 25%;
      display: flex;
      justify-content: center;
    }
  }
}