* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.App {
  text-align: center;
  .container {
    width: 100%;
    height: 100vh;
    .container-item {
      width: 25%;
      display: flex;
      justify-content: center;
    }
  }
}